<br>
 <h3>Listar Setor</h3>
<a href="/admin"><button class="btn btn-success">Retornar</button></a>
<a href ="/admin/categorias/add"><button class="btn btn-success  ">Nova Categoria</button></a> 
{{#each listar}}

<div class="card mt-4">

    {{id}}
    <div class="card-body">
        ID:{{id}}<br>
        descricao:{{descricao}}<br>
        {{!-- <br>
        cadastrado:{{#formatDate createdAt}}{{/formatDate}}<br> --}}
    </div>
   
    </div>
    
    <a href = "/admin/setor/edit/{{id}}"><button class="btn btn-primary mt-2">Editar Setor</button></a> 
    <a href= "/admin/delsetor/{{id}}"><button class="btn btn-danger mt-2">Apagar Setor</button></a>
    <hr>
{{else}}
<h4 class="mt-3">Nenhuma categoria Registrada</h4>

{{/each}}
 


{{!-- <h2>LISTA DE CATEGORIAS</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a> --}}